asgiref==3.5.2
beautifulsoup4==4.11.1
bottle==0.12.19
bottle-websocket==0.2.9
certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.12
click==8.1.2
colorama==0.4.4
Django==4.0.5
django-environ==0.8.1
django-livereload-server==0.4
Eel==0.12.4
environ==1.0
future==0.18.2
gevent==21.12.0
gevent-websocket==0.10.1
greenlet==1.1.2
idna==3.3
mysql-connector-python==8.0.29
pefile==2021.9.3
Pillow==9.1.1
protobuf==4.21.1
psycopg2-binary==2.9.3
pycparser==2.21
pyinstaller==4.10
pyinstaller-hooks-contrib==2022.3
python-dateutil==2.8.2
python-decouple==3.6
python-environ==0.4.54
pywin32-ctypes==0.2.0
requests==2.27.1
six==1.16.0
soupsieve==2.3.2.post1
sqlparse==0.4.2
typer==0.4.1
tzdata==2022.1
urllib3==1.26.9
whichcraft==0.6.1
zope.event==4.5.0
zope.interface==5.4.0
