
{% load static %}


<link rel="stylesheet" href="{% static 'css/footer.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Noto+Serif:ital@0;1&display=swap" rel="stylesheet">


<article>
    <div class="details_footer">

      <div class="footer-compagny">
        <p>Gem_Shop</p>
        <p>Praesent lacus ante, aliquam at turpis non, mattis sollicitudin orci. Nam sit amet nulla diam. Mauris et sodales tortor, sit amet dictum lacus. Pellentesque non condimentum enim. Donec varius diam id erat tincidunt aliquet. Sed lacinia quam pulvinar urna gravida, at interdum nibh tincidunt. </p>
      </div>
      <div class="footer-products">
        <p>PRODUCTS</p>
        <ul>
          <li>Store</li>
          <li>Stock</li>
          <li>Gemmes</li>
        </ul>
      </div>
      <div class="footer-gemmologie">
        <p>GEMMOLOGIE</p>
        <ul>
          <li>Famille Mineral</li>
          <li>Formation</li>
          <li>Provenance</li>
        </ul>
      </div>
      <div class="footer-user">
        <p>USER</p>
        <ul>
          <li>Mon compte</li>
          <li>Historique des commandes</li>
        </ul>
      </div>
      <div class="footer-contact">
        <p>CONTACT</p>
        <ul>
          <li>Address</li>
          <li>Email</li>
          <li>Phone</li>
        </ul>
      </div>
      
    </div>


    <footer>
        <div>
          <img class="instagram" src="media\footer\Instagram.png" alt="instagram">
          <img class="github" src="media\footer\GitHub.png" alt="github">
          <img class="twitter" src="media\footer\twitter.png" alt="twitter">
          <img src="" alt="">
        </div>
        <p>© 2022 Gem_Shop <img class="logo_diamant" src="media\footer\diamant.png" alt=""></p>

    </footer>
  </article>