
.home-container{
    margin: 0 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.presentation{
    display: flex;
    margin: 100px;
}
.gemmology_img{
    max-width: 500px;
}
