{% extends 'base.html' %}
{% load static %}

{% block content %}

<link rel="stylesheet" href="{% static 'css/home.css' %}">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:ital@0;1&display=swap" rel="stylesheet">


<div class="home-container">

    <img src="{% static 'images/banners/nav-rubis.jpg' %}" alt="rubis">
    <h1>GEMS SHOP</h1>
    <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus fermentum nunc nec libero dapibus finibus. Maecenas vel ultrices eros. Aliquam nunc enim, pellentesque id cursus in, molestie sed est. Maecenas imperdiet felis eu ipsum bibendum malesuada. Mauris a arcu nisl. Suspendisse posuere nibh et odio tempus lobortis. Nunc convallis mi lectus, nec rhoncus ipsum convallis ut. Integer fermentum nibh quis lorem vestibulum, eu commodo ante fringilla. Aenean vel odio rutrum, mattis dolor ut, maximus tellus. 💎
    </p>

    <p>
        Praesent magna justo, luctus sed dignissim ac, dignissim eu est. Morbi egestas nec justo et euismod. Donec vel mi convallis, lobortis dui euismod, aliquam purus. Nulla vel iaculis ex, eget tristique lorem. Donec quis purus imperdiet, rhoncus massa in, ornare nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed tincidunt venenatis libero ac egestas. Duis vel venenatis magna. Nulla bibendum, augue ut aliquet hendrerit, ligula turpis tempus risus, a lobortis mauris magna sit amet lectus. Donec tristique mi metus, sed finibus felis consectetur congue. Phasellus facilisis orci dolor, vitae convallis purus auctor id. Fusce maximus sit amet enim sed lobortis. Nulla vel semper lorem.
    </p>

    <div class="presentation">
        <img src="{% static 'images/banners/gemmologie.jpg' %}" class="gemmology_img" alt="gemmology">
    
        <p>
            Phasellus fermentum nunc nec libero dapibus finibus. Maecenas vel ultrices eros. Aliquam nunc enim, pellentesque id cursus in, molestie sed est. Maecenas imperdiet felis eu ipsum bibendum malesuada. Mauris a arcu nisl. Suspendisse posuere nibh et odio tempus lobortis. Nunc convallis mi lectus, nec rhoncus ipsum convallis ut. Integer fermentum nibh quis lorem vestibulum, eu commodo ante fringilla. Aenean vel odio rutrum, mattis dolor ut, maximus tellus.
        </p>
    </div>

    <p>
        Praesent magna justo, luctus sed dignissim ac, dignissim eu est. Morbi egestas nec justo et euismod. Donec vel mi convallis, lobortis dui euismod, aliquam purus. Nulla vel iaculis ex, eget tristique lorem. Donec quis purus imperdiet, rhoncus massa in, ornare nisi. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed tincidunt venenatis libero ac egestas. Duis vel venenatis magna. Nulla bibendum, augue ut aliquet hendrerit, ligula turpis tempus risus, a lobortis mauris magna sit amet lectus. Donec tristique mi metus, sed finibus felis consectetur congue. Phasellus facilisis orci dolor, vitae convallis purus auctor id. Fusce maximus sit amet enim sed lobortis. Nulla vel semper lorem.
    </p>
</div>


{% endblock %}